.textboxcontainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: stretch;
    align-content: stretch;
    margin-bottom: 2rem;
}

.textboxhalf {
    width: 45%;
    min-height: 300px;
}

.textbox {
    width: 100%;
    min-height: 250px;
}
